<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="" class="navbar-brand" style="padding:0px;"><img src="static\Vesitlogo.png" style="max-height:50px; margin-left:-5px;margin-right: 5px;"/></a>
        <span class="name pull-left" style="float:left;"><h5 style="margin-bottom:0;color:white;">VIVEKANAND EDUCATION SOCIETY'S</h5><h6 style="margin-top:0;color:white;">Institute of Technology</h6></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/home">Home</a>
        <a class="mdl-navigation__link" href="/about">About Us</a>
        <a class="mdl-navigation__link" href="/contact">Contact</a>
        <a class="mdl-navigation__link" href="/test">Test</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><a href="" class="navbar-brand"><img src="static\Vesitlogo.png" style="max-height:50px;margin-left:-5px;margin-right:8px;"/></a></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/home">Home</a>
      <a class="mdl-navigation__link" href="/about">About Us</a>
      <a class="mdl-navigation__link" href="/contact">Contact</a>
      <a class="mdl-navigation__link" href="/test">Test</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
</div>