{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
	<h1> VESIT PREP</h1>
	<p> An online platform to showcase your coding as well as logical skills and to get best prepared for placements.Information and criteria for all the companies is given which will help students to get prepared for interviews and test.
</div>

<div class="row">
	<div class="col-md-4 text-center">
		<div class="jumbotron">
			<h2>Teachers desk</h2>
			<p>Reach</p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="jumbotron">
			<h2>Teachers desk</h2>
			<p>Reach</p>
		</div>
	</div>

	<div class="col-md-4">
		<div class="jumbotron">
			<h2>Teachers desk</h2>
			<p>Reach</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-7 text-center">
		<div class="jumbotron">
			<h2>Teachers desk</h2>
			<p>Reach</p>
		</div>
	</div>
	<div class="col-md-5">
		<div class="jumbotron">
			<h2>Teachers desk</h2>
			<p>Reach</p>
		</div>
	</div>
</div>



<div class="jumbotron text-center">
	<h3><strong>Why use this online exam tool?</strong></h3>
	<p>very useful for preparing logical,technical,verbal questions that aims to get you placed in top IT companies </p>
</div>

{% endblock %}